body {
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0 !important;
}

.landing {
  min-height: 79vh;
}

.modal-dialog {
  margin-top: 5rem;
}

.modal-title {
  display: block;
  margin-left: 3%;
}
