@import "./sass/global.scss";
@import "./sass/navbar.scss";

body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: $font-stack;
}

.App {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0 !important;
  position: relative;
  background: url("./images/barber.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-container {
  height: 100%;
}

// custom classes
.cus-text-light {
  color: $white !important;
}

.cus-bg-secondary {
  background-color: $gray-faded !important;
}

.landing {
  min-height: 79vh;
}

.modal-dialog {
  margin-top: 5rem;
}

.modal-title {
  display: block;
  margin-left: 3%;
}

.Cal__Day__disabled {
  color: red !important;
}

@import "./sass/mediaQueries.scss";
