/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

@media only screen and (min-width: 768px) {
  //navbar
  .dropdown-item {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.8) !important;
    a {
      text-align: center;
    }
  }
  .cus-m-auto {
    margin: unset;
    display: inline;
  }
  .navbar {
    img {
      height: 2.25em !important;
      width: 2.25em !important;
    }
  }
  .navbar-nav {
    li {
      a {
        padding: 0;
      }
    }
  }
  .nav-name {
    margin: 0 0.5em;
  }
  .notificaton {
    margin-top: 4px;
  }
  .nav-btn {
    margin-bottom: unset;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
  }

  .profile-link {
    font-size: 1rem;
  }
  .register-form {
    margin: 0;
  }
  .team-btn-container {
    padding-top: 2em;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation: portrait) {
  .schedule-card {
    margin: 0 3em 0 3em;
  }
}

/* ipad pro and up  */
@media only screen and (min-width: 1024px) {
  .reset-container {
    padding: 1rem 3rem 1rem 3rem !important;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .register-form {
    margin: 0 2em 0 2em;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .register-form {
    margin: 0;
  }
}
