.navbar-toggler-icon {
  color: $white;
}

.dropdown-item {
  a:hover {
    color: rgb(23, 162, 184) !important;
    background-color: unset;
  }
}

.nav-btn {
  margin-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}
.profile-link {
  font-size: 0.8rem;
}
